<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informações do Paredão</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/Chart.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/elimination.css">
    <link rel="icon" href="/public/img/favicon.ico">
</head>

<body>

<%- include ../../partials/index-navbar %>

<div class="container">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <% for(var i = 0; i < result.length; i++) { %>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="/public/img/elimination.jpg">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-text"><strong>Nome: </strong> <%= result[i].name %></h5>
                            <h5 class="card-text"><strong>Total de participantes: </strong> <%= result[i].participants.length %></h5>
                            <h5 class="card-text"><strong>Total de votos: </strong> <%= result[i].totalOfVotes.toLocaleString() %></h5>
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin/paredao/<%= result[i]._id %>/" class="btn btn-primary btn-sm">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script>

    var counterDown = function (date) {
        // Set the date we're counting down to
        var countDownDate = new Date(date).getTime();

        if (countDownDate < new Date().getTime()) {
            $('.counter').html('Paredão finalizado');
            return false;
        }

        // Update the count down every 1 second
        var counter = setInterval(function() {

            var now = new Date().getTime();

            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            $('.counter').html(hours + ":" + minutes + ":" + seconds + "");

            // If the count down is finished, write some text
            if (distance < 0) {
                $('.counter').html('Paredão finalizado');
                clearInterval(counter);
            }
        }, 1000);
    };


    $(document).ready(function () {
        let endsAt = $('#elimination').attr('ends-at');

        // Active counterdown
        counterDown(endsAt);
    });

</script>

</body>

</html>